.Quotes {
    border: .1rem solid  rgb(225, 225, 225);
    margin: 1.5rem;
    width: 60rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 1px 1px rgb(211, 211, 211);
    background-color: rgb(225, 225, 225);
}
